---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product">
        {{> components/products/product-view settings=../settings schema=true  }}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#if product.similar_by_views}}
        {{> components/products/carousel products=product.similar_by_views columns=6}}
        {{/if}}

        {{#all settings.show_product_reviews (if theme_settings.show_product_reviews_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        {{> components/products/tabs}}

    </div>

<div>

    <a href="" class="alexprod"><h3>Alex new product details</h3></a>
    <ul id="acc">

    </ul>
    <!--<a href="#" class="button button&#45;&#45;small card-figcaption-button alexprod" data-event-type="product-click" data-product-id="{{id}}">-->
    <!--<a href="#" class="button button&#45;&#45;small card-figcaption-button alexprod" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>-->
</div>
{{/partial}}
{{> layout/base}}
